{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="icon" href="{% static 'images/iconlogo.svg' %}">
  <title>VideoCrafter.io</title>
</head>
<body>
    <div class="body">
        <div class="password-reset_container">
            <img
                src="{% static 'images/elipse.svg' %}"
                alt="Background decoration"
                class="password-reset_backgroundImage"
            />
            <div class="password-reset_formContainer">
                <form id="password-reset_form" class="password-reset_form" method="POST">
                    {% csrf_token %}
                    
                    <div class="password-reset_logo">
                        <div>
                            <a href="/">
                                <img
                                    src="{% static 'images/logo.svg' %}"
                                    alt="Company logo"
                                    class="signup_logoSvg"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="password-reset_form">
                        <div class="password-reset_formGroup">
                            <label for="email" class="password-reset_label">Email address:</label>
                            <input
                                class="password-reset_input"
                                type="email"
                                id="email"
                                required
                                placeholder="Enter your email address"
                                name="email"
                            />
                        </div>
                        <button type="submit" class="password-reset_button">Reset Password</button>
                    </div>
                    <div class="link-container">
                        <a href="/accounts/login.html" style="color: #864AF9;">Back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>